*   {
    box-sizing: border-box;
    text-align: center;
}

/* set background image */
body {
    background-image: url(../images/p4.png);
}

/* remove the auto-decoration for links */
a {
    color: #777777;
    text-decoration: none;
}


/* Header customization */

.logo   { 
    background: #4aaaa5;
    float: left;
    padding: 30px;
    margin: 0px 0px  0px calc((100% - 960px)/2);
    font-size: 32px;
}

.headings {
    float: right;
    width: 100%;
    background: #ffffff;
    border-bottom-style: solid;
    border-color: #666666;
    border-width: 2px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px 0px 30px 0px;
}

.navigation {
    float: right;
    padding-top: 38px;
    padding-right: calc((100% - 960px)/2);
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
    font-size: 16px;
}

/* pseudo-classes for navigation interaction
*
*
*/
.hLink:hover {
    color: #666666;
    font-weight: 100;
}

.hLink:active {
    color: #4aaaa5;
}

/* end of pseudo classes */

.content {
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    background-color: #ffffff;
    clear: both;
    width: 960px;
    margin: 0 auto;
}

.content::after {
    content: "";
    clear: both;
    display: table;
}

/* footer customization */
.footings {
    background: #666666;
    border-top-style: solid;
    border-color: #4aaaa5;
    border-width: 8px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 12px;
    margin-top: 30px;
}

/* Page title customization */
.pageTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #4aaaa5;
    text-align: left;
    padding: 24px 0;
    margin: 0px 30px 30px 30px;
    border-bottom-style: solid;
    border-color: #666666;
    border-width: 2px;
}

/* About Me Page */
.profilePic {
    float: left;
    margin: 0px 12px 0px 30px;
    width: 200px;
    height: auto;
}

.bio {
    text-align: left;
    width: 900px;
    margin: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
}

/* Gallery Page */
.gallery {
}

.gLink {
    position: relative;
    width: 435px;
    float: left;
    margin: 0px 0px 30px 30px;
}

.gIcon {
    width: 435px;
    height: 435px;
}

.gLabel {
    position: absolute;
    background-color: #4aaaa5;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px;
    width: 435px;
    bottom: 20px;
}