*   {
    box-sizing: border-box;
    text-align: center;
}

/* remove the auto-decoration for links */
a {
    color: #777777;
    text-decoration: none;
}


/* Header customization */

.logo   { 
    background: #4aaaa5;
    float: left;
    padding: 30px;
    margin: 0 100px;
    font-size: 32px;
}

.headings {
    float: right;
    width: 100%;
    background: #ffffff;
    border-bottom-style: solid;
    border-color: #666666;
    border-width: 2px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation {
    float: right;
    padding-top: 38px;
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
    font-size: 16px;
}
.content {
    clear: both;
}

.footings {
    background: #666666;
    border-top-style: solid;
    border-color: #4aaaa5;
    border-width: 8px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 24px;
    padding-bottom: 4git px;
}